<nav id="sidebarMenu" class="h-100">
  <div class="pt-5">
    <ul class="nav flex-column p-2">
      <li class="nav-item">
        <a class="nav-link <%= pathname === '/' ? 'active' : '' %>" href="/">
          <span data-feather="home"></span>
          Home
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link <%= pathname === '/pins/create' ? 'active' : '' %>"
          href="/pins/create"
        >
          <span data-feather="plus-circle"></span>
          Create pin
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link <%= pathname === '/pins' ? 'active' : '' %>"
          href="/pins"
        >
          <span data-feather="map-pin"></span>
          Your pins
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link <%= pathname === '/pins/saved' ? 'active' : '' %>"
          href="/pins/saved"
        >
          <span data-feather="save"></span>
          Saved pins
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link <%= pathname === '/users' ? 'active' : '' %>"
          href="/users"
        >
          <span data-feather="user"></span>
          Users
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link <%= pathname === '/todos' ? 'active' : '' %>"
          href="/todos"
        >
          <span data-feather="list"></span>
          Todos
        </a>
      </li>
    </ul>
  </div>
</nav>
