<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', {title: 'Users'}) %>
  <body>
    <%- include('partials/navbar') %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2 bg-light sidebar">
          <%- include('partials/sidebar', {pathname}) %>
        </div>
        <div class="col-md-10 ms-auto">
          <h4>Users</h4>
          <%- include('partials/searchForm', {url: '/users'}) %> 
          <%- include('partials/table', {
            columns: [
              {heading: 'Name', value: 'name'}, 
              {heading: 'Surname', value: 'surname'},
              {heading: 'Email', value: 'email'},
              {heading: 'Link', url: '/users'}
            ],
            data: users.map(user => ({
              name: user.name, 
              surname: user.surname, 
              email: user.email, 
              link: user._id
              }))
            }); %>
        </div>
      </div>
    </div>

    <%- include('partials/footer'); %>
    <script>
      feather.replace();
    </script>
  </body>
</html>
