<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', {title: 'Saved pins'}) %>
  <body>
    <%- include('partials/navbar') %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2 bg-light sidebar">
          <%- include('partials/sidebar', {pathname}) %>
        </div>
        <div class="col-md-10 ms-auto">
          <h4>Saved Pins</h4>
          <% if (pins.length > 0) { %>
            <%- include('partials/searchForm', {url: '/pins'}) %>
            <%- include('partials/table',
          {data:{header: ['Title', 'Description', 'Creator', 'Total Likes',
          'Total Dislikes', 'Total Saves', 'Link'], body: pins}}); %> <% } else { %>
          <p>
            You don't have any saved pin yet.
            <a href="/">List all pins</a>
          </p>
          <% } %>
        </div>
      </div>
    </div>

    <%- include('partials/footer'); %>
    <script>
      feather.replace();
    </script>
  </body>
</html>
