<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', {title: 'Saved pins'}) %>
  <body>
    <%- include('partials/navbar') %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2 bg-light sidebar">
          <%- include('partials/sidebar', {pathname}) %>
        </div>
        <div class="col-md-10 ms-auto">
          <h4>Saved Pins</h4>
          <%- include('partials/searchForm', {url: '/pins'}) %>
          <% if (pins.length > 0) { %>
            <%- include('partials/table',
          {
            columns: [
              {heading: 'Title', value: 'title'},
              {heading: 'Description', value: 'description'},
              {heading: 'Creator', value: 'creator'},
              {heading: 'Total Likes', value: 'total_likes'},
              {heading: 'Total Dislikes', value: 'total_dislikes'},
              {heading: 'Total Saves', value: 'total_saves'},
              {heading: 'Created At', value: 'created_at'},
              {heading: '', url: '/pins'}
            ],
            data: pins.map(pin => ({
                title: pin.title,
                description: pin.description,
                creator: pin.creator,
                total_likes: pin.liked_by.length,
                total_dislikes: pin.disliked_by.length,
                total_saves: pin.saved_by.length,
                created_at: new Intl.DateTimeFormat('en', { year: 'numeric',month: 'long',day: 'numeric', timeZone: 'Turkey'}).format(pin.created_at),
                link: pin._id
                }))
              }); %> <% } else { %>
          <p>
            You don't have any saved pin yet.
            <a href="/">List all pins</a>
          </p>
          <% } %>
        </div>
      </div>
    </div>

    <%- include('partials/footer'); %>
    <script>
      feather.replace();
    </script>
  </body>
</html>
