<%- include('partials/header'); -%>
<ul class="pins">
  <% pins.forEach(pin => { %>
  <li class="pin">
    <a href="/pins/<%= pin._id %>">
      <h4><%= pin.title %></h4>
      <p><%= pin.description %></p>
    </a>
  </li>
  <% }) %>
</ul>
<%- include('partials/footer'); -%>
