<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', {title: 'Pin detail'}) %>
  <body>
    <%- include('partials/navbar'); %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2 bg-light sidebar">
          <%- include('partials/sidebar') %>
        </div>
        <div class="col-md-10 ms-auto">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= pin.title %></h5>
              <p class="card-text"><%= pin.description %></p>
              <p class="card-text">
                <span data-feather="thumbs-up"></span>
                <button
                  type="button"
                  class="btn btn-link text-dark"
                  data-bs-toggle="modal"
                  data-bs-target="#likesModal"
                >
                  <%= pin.liked_by.length %> likes
                </button>
              </p>
              <p class="card-text">
                <span data-feather="thumbs-down"></span>
                <button
                  type="button"
                  class="btn btn-link text-dark"
                  data-bs-toggle="modal"
                  data-bs-target="#dislikesModal"
                >
                  <%= pin.disliked_by.length %> dislikes
                </button>
              </p>
              <a href="<%= pin.link %>" target="_blank" class="card-link"
                ><%= pin.link %></a
              >
              <div class="mt-4">
                <div class="btn-group">
                  <form action="/pins/interact/<%= pin.id %>" method="GET">
                    <button
                      name="interact"
                      value="like"
                      class="btn btn-outline-secondary <%= isLiked ? 'active' : '' %>"
                    >
                      <div class="d-flex align-items-center">
                        <i data-feather="thumbs-up"></i
                        ><span class="ms-2"><%= pin.liked_by.length %></span>
                      </div>
                    </button>
                    <button
                      name="interact"
                      value="dislike"
                      class="btn btn-outline-secondary <%= isDisliked ? 'active' : '' %>"
                    >
                      <div class="d-flex align-items-center">
                        <i data-feather="thumbs-down"></i
                        ><span class="ms-2"><%= pin.disliked_by.length %></span>
                      </div>
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="modal fade"
      id="likesModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel">Likes</h4>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <ul class="list-group">
              <% liked_users.forEach((user) => { %>
              <li class="list-group-item">
                <%= user.name %> <%= user.surname %>
              </li>
              <% }) %>
            </ul>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    <div
      class="modal fade"
      id="dislikesModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel">Dislikes</h4>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <ul class="list-group">
              <% disliked_users.forEach((user) => { %>
              <li class="list-group-item">
                <%= user.name %> <%= user.surname %>
              </li>
              <% }) %>
            </ul>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <%- include('partials/footer'); -%>

    <script>
      feather.replace();
    </script>
  </body>
</html>
