<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', {title: 'Pin detail'}) %>
  <body>
    <%- include('partials/navbar'); %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2 bg-light sidebar">
          <%- include('partials/sidebar') %>
        </div>
        <div class="col-md-10 ms-auto">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= pin.title %></h5>
              <p class="card-text"><%= pin.description %></p>
              <p class="card-text">
                <span data-feather="thumbs-up"></span>
                <button
                  type="button"
                  id="likes-count-button"
                  class="btn btn-link text-dark"
                  data-bs-toggle="modal"
                  data-bs-target="#likesModal"
                >
                  <%= pin.liked_by.length %> likes
                </button>
              </p>
              <p class="card-text">
                <span data-feather="thumbs-down"></span>
                <button
                  type="button"
                  id="dislikes-count-button"
                  class="btn btn-link text-dark"
                  data-bs-toggle="modal"
                  data-bs-target="#dislikesModal"
                >
                  <%= pin.disliked_by.length %> dislikes
                </button>
              </p>
              <a href="<%= pin.link %>" target="_blank" class="card-link"
                ><%= pin.link %></a
              >
              <div class="mt-4">
                <div class="btn-group">
                  <button
                    id="like-button"
                    class="btn btn-outline-secondary <%= isLiked ? 'active' : '' %>"
                    onclick="likePin()"
                  >
                    <div class="d-flex align-items-center">
                      <i data-feather="thumbs-up"></i
                      ><span id="like-count" class="ms-2"
                        ><%= pin.liked_by.length %></span
                      >
                    </div>
                  </button>
                  <button
                    id="dislike-button"
                    class="btn btn-outline-secondary <%= isDisliked ? 'active' : '' %>"
                    onclick="dislikePin()"
                  >
                    <div class="d-flex align-items-center">
                      <i data-feather="thumbs-down"></i
                      ><span id="dislike-count" class="ms-2"
                        ><%= pin.disliked_by.length %></span
                      >
                    </div>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="modal fade"
      id="likesModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel">Likes</h4>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <ul class="list-group">
              <% liked_users.forEach((user) => { %>
              <li class="list-group-item">
                <%= user.name %> <%= user.surname %>
              </li>
              <% }) %>
            </ul>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    <div
      class="modal fade"
      id="dislikesModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel">Dislikes</h4>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <ul class="list-group">
              <% disliked_users.forEach((user) => { %>
              <li class="list-group-item">
                <%= user.name %> <%= user.surname %>
              </li>
              <% }) %>
            </ul>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <%- include('partials/footer'); -%>

    <script>
      feather.replace();
      const pinId = '<%- pin.id %>';
      const likeButton = document.querySelector('#like-button');
      const likeCount = document.querySelector('#like-count');
      const likesCountButton = document.querySelector('#likes-count-button');
      const dislikeButton = document.querySelector('#dislike-button');
      const dislikeCount = document.querySelector('#dislike-count');
      const dislikesCountButton = document.querySelector(
        '#dislikes-count-button'
      );

      const likePin = async (field) => {
        const res = await (
          await fetch('/pins/like', {
            method: 'POST',
            body: JSON.stringify({ pinId }),
            headers: {
              'Content-Type': 'application/json',
            },
          })
        ).json();

        if (res) {
          likeCount.textContent = res.liked_by.length;
          likesCountButton.textContent = res.liked_by.length + ' likes';
          likeButton.classList.toggle('active');

          if (res.disliked_by.length != dislikeCount.textContent) {
            dislikeCount.textContent = res.disliked_by.length;
            dislikesCountButton.textContent =
              res.disliked_by.length + ' dislikes';
            dislikeButton.classList.remove('active');
          }
        }
      };

      const dislikePin = async (field) => {
        const res = await (
          await fetch('/pins/dislike', {
            method: 'POST',
            body: JSON.stringify({ pinId }),
            headers: {
              'Content-Type': 'application/json',
            },
          })
        ).json();

        if (res) {
          dislikeCount.textContent = res.disliked_by.length;
          dislikesCountButton.textContent = res.disliked_by.length + ' dislikes';
          dislikeButton.classList.toggle('active');

          if (res.liked_by.length != likeCount.textContent) {
            likeCount.textContent = res.liked_by.length;
            likesCountButton.textContent = res.liked_by.length + ' likes';
            likeButton.classList.remove('active');
          }
        }
      };
    </script>
  </body>
</html>
